.post-by-user {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 20px;
  padding: 10px;
}
.post-by-user h5 {
  letter-spacing: 0.5px;
}
.post-by-user .posted-message-by-user textarea {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  flex: 1;
}
.post-by-user .posted-message-by-user {
  display: flex;
}

.post-by-user .posted-message-by-user textarea:hover {
  outline: none;
}
.updates-extra-buttons {
  display: flex;
  justify-content: space-evenly;
  column-gap: 5px;
}
.updates-extra-buttons button {
  flex: 1;
  padding: 10px 5px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-size: 15px;
  margin: 10px 0;
  transition: all 0.5s;
}
.updates-extra-buttons .heart {
  color: red;
  box-shadow: 1px -1px 5px #890fff;
}
.updates-extra-buttons .heart:active {
  background: red;
  color: #fff;
}
.updates-extra-buttons .heart:active div {
  transition: all 0.2s;
  transform: translateX(10px);
}
.updates-extra-buttons .comment:active div {
  transition: all 0.5s;
  transform: translateX(-10px);
}
.updates-extra-buttons .comment:active {
  background: #890fff;
  color: #fff;
}
.updates-extra-buttons .comment {
  color: #890fff;
  box-shadow: 1px -1px 5px red;
}
.world-msg-btns:hover {
  
}